## Prepare the Data

In [61]:
 # Import libraries and dependencies
import pandas as pd
import numpy as np
from pathlib import Path

In [62]:
#Read CSV files into dataframes
whale_returns_csv = Path(r"C:\Users\ethan\Documents\Module-4-Challenge\resources\Resources\whale_returns.csv")
algo_returns_csv = Path(r"C:\Users\ethan\Documents\Module-4-Challenge\resources\Resources\algo_returns.csv")
sp_tsx_history_csv = Path(r"C:\Users\ethan\Documents\Module-4-Challenge\resources\Resources\sp_tsx_history.csv")

whale_returns_df = pd.read_csv(whale_returns_csv, index_col="Date", infer_datetime_format=True, parse_dates=True)
algo_returns_df = pd.read_csv(algo_returns_csv, index_col="Date", infer_datetime_format=True, parse_dates=True)
sp_tsx_history_df = pd.read_csv(sp_tsx_history_csv, index_col="Date", infer_datetime_format=True, parse_dates=True)

In [63]:
#remove null values
whale_returns_df.dropna(inplace = True)
algo_returns_df.dropna(inplace = True)

In [69]:
#remove dollar signs and commas from sp_tsx_history_df
sp_tsx_history_df['Close'] = sp_tsx_history_df['Close'].astype(str).str.replace('$', '').str.replace(',', '').astype(float)

sp_tsx_history_df.head(10)

C:\Users\ethan\AppData\Local\Temp\ipykernel_10640\1460660130.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  sp_tsx_history_df['Close'] = sp_tsx_history_df['Close'].astype(str).str.replace('$', '').str.replace(',', '').astype(float)

               Close
Date
2012-10-01  12370.19
2012-10-02  12391.23
2012-10-03  12359.47
2012-10-04  12447.68
2012-10-05  12418.99
2012-10-09  12273.57
2012-10-10  12212.42
2012-10-11  12233.95
2012-10-12  12202.04
2012-10-15  12229.96

In [74]:
#calculate daily returns for sp_tsx_history_df and drop first null row
tsx_daily_returns = sp_tsx_history_df.pct_change()

tsx_daily_returns.dropna(inplace = True)

tsx_daily_returns.head()

               Close
Date
2012-10-02  0.001701
2012-10-03 -0.002563
2012-10-04  0.007137
2012-10-05 -0.002305
2012-10-09 -0.011709

In [77]:
#Join Whale Returns, Algorithmic Returns, and the S&P TSX 60 Returns into a single DataFrame with columns for each portfolio's returns.

combined_df = pd.concat([whale_returns_df, algo_returns_df, tsx_daily_returns], axis="columns", join="inner")

combined_df.head()

,SOROS FUND MANAGEMENT LLC,PAULSON & CO.INC.,TIGER GLOBAL MANAGEMENT LLC,BERKSHIRE HATHAWAY INC,Algo 1,Algo 2,Close
Date,,,,,,,
2015-03-03,-0.001266,-0.004981,-0.000496,-0.006569,-0.001942,-0.000949,-0.008530
2015-03-04,0.002230,0.003241,-0.002534,0.004213,-0.008589,0.002416,-0.003371
2015-03-05,0.004016,0.004076,0.002355,0.006726,-0.000955,0.004323,0.001344
2015-03-06,-0.007905,-0.003574,-0.008481,-0.013098,-0.004957,-0.011460,-0.009972
2015-03-09,0.000582,0.004225,0.005843,-0.001652,-0.005447,0.001303,-0.006555

In [81]:
#rename "Close" column to 'SP TSX'
combined_df = combined_df.rename(columns={'Close' : "S&P TSX"})

,SOROS FUND MANAGEMENT LLC,PAULSON & CO.INC.,TIGER GLOBAL MANAGEMENT LLC,BERKSHIRE HATHAWAY INC,Algo 1,Algo 2,S&P TSX
Date,,,,,,,
2015-03-03,-0.001266,-0.004981,-0.000496,-0.006569,-0.001942,-0.000949,-0.008530
2015-03-04,0.002230,0.003241,-0.002534,0.004213,-0.008589,0.002416,-0.003371
2015-03-05,0.004016,0.004076,0.002355,0.006726,-0.000955,0.004323,0.001344
2015-03-06,-0.007905,-0.003574,-0.008481,-0.013098,-0.004957,-0.011460,-0.009972
2015-03-09,0.000582,0.004225,0.005843,-0.001652,-0.005447,0.001303,-0.006555
...,...,...,...,...,...,...,...
2019-04-25,-0.000285,-0.001291,-0.005153,0.004848,0.000682,-0.007247,-0.000628
2019-04-26,0.008149,0.009162,0.012355,0.010434,0.002981,0.005256,0.002254
2019-04-29,0.001254,0.002719,0.006251,0.005223,0.005208,0.002829,-0.000788
2019-04-30,-0.001295,-0.002211,-0.000259,-0.003702,-0.002944,-0.001570,-0.001183
2019-05-01,-0.005847,-0.001341,-0.007936,-0.007833,0.000094,-0.007358,-0.004703

## Conduct Quantitative Analysis